.footer {
  background-color: #0A2850;
  overflow: hidden;
  position: relative;
  color: #fff;
}
.footer__content {
  margin: 60px 80px 108px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__circle {
  border-radius: 50%;
  width: 340px;
  height: 340px;
  background-color: #2F80ED;
  position: absolute;
  top: -128px;
  left: -44px;
}

.footer__social {}

.footer__social-heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer__list {
  list-style-type: none;
}

.footer__list-item {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 16px;
}

.footer__social-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.footer__social-link:hover {
  color: #C1C1C1;
}
.footer__social-link:focus {
  color: #C1C1C1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin: 0 0 60px 80px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}