.form {
  box-sizing: border-box;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
}

.form__label {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  border: 2px solid #838383;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  width: 100%;
  height: 60px;
  padding: 15px 20px;
}

input::placeholder {
  color: #838383;
}

.form__button {
  border-radius: 4px;
  max-width: 385px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #FFFFFF;
  height: 60px;
  margin-bottom: 32px;
}
.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  margin: 0;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__checkbox:checked {
  background: #2F80ED;
  appearance: none;
}

.form__checkbox:checked::after {
  content: url(../images/check.svg);
  color: #FFFFFF;
}

.form__label_checkbox {
  margin: 0;
  display: flex;
  justify-content: center;
}