.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
list-style-type: none;
margin: 30px 80px 0 0;
column-gap: 20px;
display: flex;
font-family: "Inter", Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.nav__link:hover {
  color: #2f80ED;
}