* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFFFFF;
}

.header {
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
list-style-type: none;
margin: 30px 80px 0 0;
column-gap: 20px;
display: flex;
font-family: "Inter", Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  padding: 183px 0 28px 80px;
  margin: 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto serif", 'Times New Roman', Times, serif;
  font-size: 58px;
  line-height: 72px;
  font-style: italic;
  color: #2f80ed;
}
.header__description {
  font-family: "Noto Serif", 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  padding: 0 0 0 80px;
  margin: 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__paragraph {
  margin: 0;
}

.header__paragraph-left {
  position: relative;
  bottom: 40px;
  left: 80px;
}

.header__paragraph-right {
  position: relative;
  right: 40px;
}

.recipes {
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0a2750;
  height: 100vh;
  color: #FFFFFF;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 44px;
  font-style: normal;
  line-height: 52px;
  padding-top: 100px;
  padding-left: 80px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  padding-left: 80px;
  font-family: "Noto Serif", 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  column-gap: 40px;
  margin-bottom: 215px;
}

.recipes__video-item {
  margin: 0;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
}

.reservation {
  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation__title {
  padding: 100px 0 0;
}

.reservation__form {
  margin:80px 0 120px;
}

.form {}

.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
}

.form__label {}

.form__input {
  border-radius: 4px;
}
.form__button {
  border-radius: 4px;
  max-width: 385px;
}
.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
}
/* .form__label_checkbox {
  display: flex;
  justify-content: space-between;
} */