@import url("../vendor/normalize.css");

@import url(../blocks/page.css);

@import url(../blocks/header.css);

@import url(../blocks/nav.css);

@import url(../blocks/recipes.css);

@import url(../blocks/reservation.css);

@import url(../blocks/form.css);

@import url(../blocks/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}