html {
  scroll-behavior: smooth;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFFFFF;
}

.header {
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
list-style-type: none;
margin: 30px 80px 0 0;
column-gap: 20px;
display: flex;
font-family: "Inter", Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  padding: 183px 0 28px 80px;
  margin: 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto serif", 'Times New Roman', Times, serif;
  font-size: 58px;
  line-height: 72px;
  font-style: italic;
  color: #2f80ed;
}
.header__description {
  font-family: "Noto Serif", 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  padding: 0 0 0 80px;
  margin: 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  /* position: relative;
  left: 80px;
  bottom: 40px; */
  margin-top: auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__times {
  margin: 0;
  position: relative;
  left: 80px;
  bottom: 40px;
}

.header__times-item {
  margin: 0;
}

.header__paragraph {
  position: relative;
  bottom: 40px;
  right: 80px;
  margin: auto 0 0;
}